.popup {
	width: 100%;
	max-width: rem(456);
	background-color: $Grey;
	@include adaptiveValue("padding-top", 48, 40);
	@include adaptiveValue("padding-bottom", 48, 40);
	@include adaptiveValue("padding-left", 32, 20);
	@include adaptiveValue("padding-right", 32, 20);

	.carousel__button.is-close {
		top: rem(24);
		right: rem(24);
		color: $Grey2;
		box-shadow: none;
		width: rem(30);
		height: rem(30);
		padding: rem(5);
		margin: rem(-5);
		box-sizing: border-box;

		svg {
			filter: none;
		}

		@media (any-hover: hover) {
			transition: $transition ease transform 0s;

			&:hover {
				transform: rotate(90deg);
			}
		}
	}

	// .popup__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(26, 20);
		color: $mainColor;
		padding-right: rem(20);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 24);
		}
	}

	&_sign {
		.popup__title {
			text-align: center;
		}

		.form {
			display: grid;
			@include adaptiveValue("gap", 48, 24);

			&__button {
				@include adaptiveValue("font-size", 30, 24);

				&:not(:first-child) {
					margin-top: 0;
				}
			}
		}

		.options {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(rem(92), 1fr));

			// .options__item
			&__item {
				position: relative;
				cursor: pointer;
			}

			// .options__input
			&__input {
				width: 0;
				height: 0;
				opacity: 0;
				position: absolute;

				&:checked {
					& + .options__label {
						border-color: $mainColor;

						span {
							color: $mainColor;
						}
					}
				}
			}

			// .options__label
			&__label {
				display: block;
				@include adaptiveValue("padding-bottom", 24, 16);
				border-bottom: 1px solid transparent;
				transition: $transition ease border-color 0s;

				span {
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 500;
					font-size: rem(16);
					line-height: 1;
					color: $Grey2;
					transition: $transition ease color 0s;

					&::before {
						margin-right: rem(8);
						font-size: rem(18);
					}
				}
			}

			// .options__text
			&__text {
			}
		}
	}

	// .popup_cookie
	&_cookie {
		max-width: rem(1180);
		margin-top: auto;
	}
}

.cookie-wrapper {
	&.fancybox__container {
		@media (max-width: $mobileSmall) {
			padding-left: rem(20);
			padding-right: rem(20);
		}
	}

	.fancybox__slide {
		overflow: hidden;
		@include adaptiveValue("padding-bottom", 50, 0, 1280, 768, 1);

		&::before,
		&::after {
			display: none;
		}
	}

	.carousel__button {
		display: none;
	}
}

.cookie {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;

	// .cookie__img
	&__img {
		@include adaptiveValue("margin-right", 32, 24);
		flex-shrink: 0;
		@include adaptiveValue("flex-basis", 60, 38);
		@include adaptiveValue("padding-bottom", 60, 38);
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .cookie__title
	&__title {
		flex: 1;
		@include adaptiveValue("font-size", 18, 16);

		@media (min-width: $mobileSmall) {
			max-width: rem(354);
		}

		a {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: rem(-2);
				display: block;
				width: 100%;
				height: rem(1);
				background-color: $mainColor;
				transition: $transition ease opacity 0s;
			}

			@media (any-hover: hover) {
				&:hover {
					&::before {
						opacity: 0;
					}
				}
			}
		}
	}

	// .cookie__btn
	&__btn {
		flex: 1;

		@media (min-width: $mobile) {
			display: flex;
			justify-content: flex-end;
		}
		@media (max-width: $mobile) {
			flex: 0 0 100%;
			margin-top: rem(32);
			@include adaptiveValue("padding-left", 92, 62);
		}

		.popup-link {
			@include adaptiveValue("font-size", 30, 20);

			&::before {
				@include adaptiveValue("font-size", 12, 7);
				margin-left: rem(24);
			}
		}
	}
}
