.popup {
	width: 100%;
	max-width: rem(456);
	background-color: $Grey;
	@include adaptiveValue("padding-top", 48, 40);
	@include adaptiveValue("padding-bottom", 48, 40);
	@include adaptiveValue("padding-left", 32, 20);
	@include adaptiveValue("padding-right", 32, 20);

	.carousel__button.is-close {
		top: rem(24);
		right: rem(24);
		color: $Grey2;
		box-shadow: none;
		width: rem(30);
		height: rem(30);
		padding: rem(5);
		margin: rem(-5);
		box-sizing: border-box;

		svg {
			filter: none;
		}

		@media (any-hover: hover) {
			transition: $transition ease transform 0s;

			&:hover {
				transform: rotate(90deg);
			}
		}
	}

	// .popup__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(26, 20);
		color: $mainColor;
		padding-right: rem(20);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 24);
		}
	}

	&_sign {
		.popup__title {
			text-align: center;
		}

		.form {
			display: grid;
			@include adaptiveValue("gap", 48, 24);

			&__button {
				@include adaptiveValue("font-size", 30, 24);
				
				&:not(:first-child) {
					margin-top: 0;
				}
			}
		}

		.options {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(rem(92), 1fr));

			// .options__item
			&__item {
				position: relative;
				cursor: pointer;
			}

			// .options__input
			&__input {
				width: 0;
				height: 0;
				opacity: 0;
				position: absolute;

				&:checked {
					& + .options__label {
						border-color: $mainColor;

						span {
							color: $mainColor;
						}
					}
				}
			}

			// .options__label
			&__label {
				display: block;
				@include adaptiveValue("padding-bottom", 24, 16);
				border-bottom: 1px solid transparent;
				transition: $transition ease border-color 0s;

				span {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: rem(8);
					font-weight: 500;
					font-size: rem(16);
					line-height: math.div(21, 16);
					color: $Grey2;
					transition: $transition ease color 0s;
				}
			}

			// .options__text
			&__text {
			}
		}
	}
}
