// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	@include adaptiveValue("gap", 56, 32);
}

// Спойлер
.spollers__item {
}

// Заголовок спойлера
.spollers__title {
	padding-top: rem(8);
	padding-bottom: rem(8);
	width: 100%;
	cursor: default;
	font-weight: 500;
	@include adaptiveValue("font-size", 18, 16);
	line-height: math.div(23, 18);
	text-align: left;
	position: relative;

	._spoller-init & {
		cursor: pointer;
		@include adaptiveValue("padding-left", 48, 32);

		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $mainColor;
				}
			}
		}

		&::before {
			content: "\e902";
			@extend %ic;
			position: absolute;
			left: 0;
			top: rem(8);
			font-size: rem(23);
			color: $Grey2;
			transition: $transition ease transform, $transition color 0s;
		}

		&._spoller-active {
			&::before {
				transform: rotate(45deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	margin-top: rem(8);
	@include adaptiveValue("padding-left", 48, 32);
}
