//<FORM>
// Снипет (HTML):
.form {
	&__row {
		display: grid;
		@include adaptiveValue("gap", 24, 16);
	}

	&__label {
		font-size: rem(12);
		line-height: math.div(16, 12);
		color: $Grey2;
	}

	&__input {
	}

	&__button {
		&._icon-popup-link {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: flex-end;
			gap: rem(20);
			@include adaptiveValue("font-size", 40, 30);
			line-height: math.div(52, 40);
			transition: $transition ease opacity 0s;

			&::before {
				font-size: rem(12);
				transition: $transition ease transform 0s;
				margin-left: rem(20);
			}

			@media (any-hover: hover) {
				&:hover {
					opacity: 0.5;

					&::before {
						transform: translate(rem(5));
					}
				}
			}
		}

		&:not(:first-child) {
			@include adaptiveValue("margin-top", 48, 32);
		}
	}
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
@import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
@import "range";
