//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: rem(8) 0;
	border-bottom: 1px solid $LGrey;
	background-color: transparent;
	@include adaptiveValue("font-size", 18, 14);
	line-height: math.div(23, 18);
	transition: $transition ease border-color 0s;

	&::placeholder {
		transition: 0.5s ease all 0s;
	}

	&:focus {
		outline: none !important;
		border-color: $mainColor;

		&::placeholder {
			opacity: 0;
		}
	}
}
textarea.input {
	resize: none;
	padding: rem(8) 0;
}
