// Заголовки, общие БЄМ блоки и проче...
h {
    &1 {
        font-weight: 700;
        @include adaptiveValue("font-size", 50, 28);
        line-height: math.div(65, 50);
    }
    &2 {
        font-weight: 300;
        @include adaptiveValue("font-size", 50, 28);
        line-height: math.div(65, 50);
    }
    &3 {
        font-weight: 700;
        @include adaptiveValue("font-size", 26, 18);
        line-height: math.div(31, 26);
    }
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.logo {
    display: flex;

    // .logo__link
    &__link {
        display: inline-flex;
        align-items: center;
    }

    // .logo__text
    &__text {
        @include adaptiveValue("min-height", 40, 25);
        font-weight: 900;
        @include adaptiveValue("font-size", 20, 12);
        line-height: percent(26, 20);
        color: $White;
        background-color: $mainColor;
        display: inline-flex;
        align-items: center;
        padding: rem(5) rem(14);
    }

    // .logo__img
    &__img {
        display: flex;
        @include adaptiveValue("max-width", 118, 80);
    }
}

.popup-link {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    transition: $transition ease opacity 0s;

    &::before {
        transition: $transition ease transform 0s;
        font-size: rem(8);
        @include adaptiveValue("margin-left", 12, 8);
    }

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.5;

            &::before {
                transform: translate(rem(5));
            }
        }
    }
}

._content {
    line-height: math.div(24, 16);

    p {
        margin: rem(16) 0;
    }

    ol {
        counter-reset: item;

        li {
            position: relative;
            padding-left: rem(16);
            list-style-type: none;

            &::before {
                content: counter(item) ".";
                counter-increment: item;
                position: absolute;
                left: 0;
            }

            & > ol {
                counter-reset: subitem;

                li {
                    &::before {
                        content: counter(item) "." counters(subitem, ".") " ";
                        counter-increment: subitem;
                    }
                }
            }
        }

        ol {
            margin-top: 16px;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}

// Анимация ====================================================================================================
@keyframes translateY {
    0% {
        transform: translateY(rem(0));
    }
    50% {
        transform: translateY(rem(-7));
    }
    100% {
        transform: translateY(rem(0));
    }
}

// noUISlider ====================================================================================================
.noUi-tooltip {
    @include adaptiveValue("font-size", 30, 20);
    line-height: 1;
}

// fancybox ====================================================================================================
.fancybox {
    &__container {
        max-width: 100%;
        padding: 0 rem(40);
    }

    &__backdrop {
        background: rgba(59, 59, 61, 0.6);
    }

    &__slide {
        padding: 0 rem(20);
    }
}
