// header ====================================================================================================
.language {
	// .language__menu
	&__menu {
	}

	// .language__switcher
	&__switcher {
		position: relative;
	}

	// .language__menu-item
	&__menu-item {
		text-transform: uppercase;
		font-weight: 300;
		font-size: rem(12);
		line-height: 1;
		letter-spacing: em(1.2, 12);

		a {
			@media (any-hover: hover) {
				transition: $transition ease color 0s;

				&:hover {
					color: #82828e;
				}
			}
		}
	}

	// .language__sub-menu
	&__sub-menu {
		position: absolute;
		left: 50%;
		bottom: rem(0);
		transform: translate(-50%, 100%);
		display: grid;
		gap: rem(16);
		padding: rem(16);
		border: 1px solid $LGrey;
		background-color: $Grey;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: $transition ease all 0s;

		._active & {
			bottom: rem(-14);
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}
}

.header {
	@include adaptiveValue("padding-top", 39, 16);
	@include adaptiveValue("padding-bottom", 39, 16);
	background: $Grey;
	z-index: 5;

	@media (min-width: $tablet) {
		transform: translateY(-100%);

		.loaded & {
			transform: translateY(0);
			transition: $transition ease all 0.1s;
		}
	}

	&._header-scroll {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		padding-top: rem(16);
		padding-bottom: rem(16);
		box-shadow: 5px 7px 5px -5px rgba(181, 181, 181, 0.1);
		transition: $transition ease top 0s;
	}

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		gap: rem(20);
	}

	// .header__right
	&__right {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include adaptiveValue("gap", 33, 8);
	}

	// .header__division {
	&__division {
		display: block;
		flex-shrink: 0;
		@include adaptiveValue("flex-basis", 19, 14);
		@include adaptiveValue("height", 40, 25);
		background: url(../img/icons/header-line.svg) no-repeat center/cover;
	}

	// .header__contact
	&__contact {
		display: flex;

		.popup-link {
			@include adaptiveValue("font-size", 20, 14);
			line-height: math.div(26, 20);

			&::before {
				@include adaptiveValue("font-size", 7, 5);
			}
		}
	}
}
