// home ====================================================================================================
.main {
    @include adaptiveValue("padding-top", 120, 56);
    @include adaptiveValue("margin-bottom", 120, 56);
    overflow: hidden;

    // .main__container
    &__container {
    }

    // .main__body
    &__body {
        max-width: rem(674);
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 112, 72);
        }

        & > * {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 40, 24);
            }
        }
    }

    // .main__title
    &__title {
        @media (min-width: $tablet) {
            opacity: 0;
            transform: translateY(100%);

            .loaded & {
                opacity: 1;
                transform: translateY(0);
                transition: 0.5s ease all 0.2s;
            }
        }
    }

    // .main__image
    &__image {
        max-width: rem(981);
        margin-left: auto;
        margin-right: auto;
        position: relative;

        @media (min-width: $tablet) {
            transform: translateY(100%);
            opacity: 0;

            .loaded & {
                transform: translateY(0);
                opacity: 1;
                transition: 0.5s ease all 0.5s;
            }
        }
        @media (max-width: $mobileSmall) {
            margin-left: rem(-20);
            margin-right: rem(-20);
            transform: scale(1.6);
        }

        svg {
            position: absolute;
            top: rem(15);
            left: 50%;
            transform: translateX(-50%);
            max-width: 100%;
            height: auto;
        }

        #main-pin {
            animation: translateY 1s ease infinite;

            @media (min-width: $tablet) {
                opacity: 0;

                .loaded & {
                    transition: $transition ease all 1s;
                    opacity: 1;
                }
            }
        }
    }

    &__lines {
        @media (min-width: $tablet) {
            opacity: 0;
            transform: scaleY(0);

            .loaded & {
                opacity: 1;
                transform: scaleY(1);

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition: $transition ease all #{$i * 0.3 + 1}s;
                    }
                }
            }
        }
    }
}

// calculator ====================================================================================================
.parameter {
    display: grid;
    align-items: center;
    gap: rem(50);

    @media (min-width: $mobileSmall) {
        gap: rem(20);
        grid-template-columns: percent(100, 687) 1fr;
    }

    // .parameter__caption
    &__caption {
        @include adaptiveValue("font-size", 18, 14);

        @media (max-width: $mobileSmall) {
            margin-left: rem(-10);
        }
    }

    // .parameter__slider
    &__slider {
    }
}

.tariff {
    display: grid;
    gap: rem(16);

    // .tariff__caption
    &__caption {
        font-size: rem(14);
        line-height: 1;
    }

    // .tariff__price
    &__price {
        font-weight: 700;
        @include adaptiveValue("font-size", 60, 30);
        line-height: 1;
    }
}

.total-result {
    display: grid;
    gap: rem(16);

    // .total-result__caption
    &__caption {
        font-size: rem(14);
        line-height: 1;
    }

    // .total-result__value
    &__value {
        display: flex;
        position: relative;
        overflow: hidden;
    }

    // .total-result__placeholder-request
    &__placeholder-request {
        font-weight: 700;
        @include adaptiveValue("font-size", 34, 20, 1280, 768, 1);
        line-height: 1;
        opacity: 0;
        pointer-events: none;
    }

    // .total-result__placeholder-result
    &__placeholder-result {
        font-weight: 700;
        @include adaptiveValue("font-size", 60, 40, 1280, 768, 1);
        line-height: 1;
        opacity: 0;
        pointer-events: none;
    }

    // .total-result__text
    &__text {
        font-weight: 700;
        @include adaptiveValue("font-size", 60, 40, 1280, 768, 1);
        line-height: 1;
        position: absolute;
        transition: $transition ease transform 0s;
    }

    // .total-result__request
    &__request {
        font-weight: 700;
        @include adaptiveValue("font-size", 34, 20, 1280, 768, 1);
        line-height: 1;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        transform: translateY(100%);
        transition: $transition ease all 0s;

        &:link {
            text-decoration: underline $White from-font;
            text-underline-offset: 3px;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline transparent from-font;
                }
            }
        }
    }

    &._request {
        .total-result__text {
            transform: translateY(-100%);
        }

        .total-result__request {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}

.calculator {
    @include adaptiveValue("padding-top", 120, 56);
    @include adaptiveValue("margin-bottom", 120, 56);

    // .calculator__container
    &__container {
        max-width: rem(1050);

        @media (min-width: $mobile) {
            padding-left: rem(60);
            padding-right: rem(60);
        }
    }

    // .calculator__top
    &__top {
        display: grid;
        gap: rem(48);

        @media (min-width: $mobile) {
            gap: rem(20);
            grid-template-columns: percent(330, 1050) 1fr;
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 120, 48, 1280, 768, 1);
        }
    }

    // .calculator__title
    &__title {
    }

    // .calculator__parameters
    &__parameters {
        display: grid;
        gap: rem(40);

        @media (max-width: $mobile) {
            padding-right: rem(40);
        }
        @media (max-width: $mobileSmall) {
            padding-right: rem(30);
            padding-left: rem(20);
        }
    }

    // .calculator__parameter
    &__parameter {
    }

    // .calculator__bottom
    &__bottom {
        display: grid;
        align-items: center;
        gap: rem(48);

        @media (min-width: $mobile) {
            gap: rem(20);
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .calculator__bottom-left
    &__bottom-left {
        display: grid;
        gap: rem(32);

        @media (min-width: $mobile) {
            gap: rem(24);
        }
        @media (max-width: $mobile) {
            grid-row-start: 2;
        }
    }

    // .calculator__tariff
    &__tariff {
    }

    // .calculator__result
    &__result {
        background-color: $mainColor;
        color: $White;
        @include adaptiveValue("padding", 64, 24);
        display: grid;
        gap: rem(40);

        @media (max-width: $mobile) {
            grid-row-start: 1;
        }
    }

    // .calculator__total
    &__total {
    }

    // .calculator__request
    &__request {
        .popup-link {
            font-weight: 300;
            @include adaptiveValue("font-size", 40, 30, 1280, 768, 1);
            line-height: 1;
            text-align: left;

            &::before {
                @include adaptiveValue("font-size", 16, 9, 1280, 768, 1);
            }
        }
    }
}

// steps ====================================================================================================
.step {
    display: grid;
    @include adaptiveValue("gap", 80, 40, 1280, 768, 1);

    @media (min-width: $mobileSmall) {
        grid-template-columns: rem(126) 1fr;
        align-items: center;
        grid-template-areas: "icon text";

        &:nth-child(2n) {
            grid-template-areas: "text icon";
            grid-template-columns: 1fr rem(126);

            .step__text {
                margin-left: auto;
            }
        }
    }
    @media (max-width: $mobileSmall) {
        text-align: center;
    }

    // .step__icon
    &__icon {
        @include adaptiveValue("max-width", 126, 70);

        @media (min-width: $mobileSmall) {
            grid-area: icon;
        }
        @media (max-width: $mobileSmall) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    // .step__text
    &__text {
        @media (min-width: $mobileSmall) {
            grid-area: text;
            max-width: rem(305);
        }
    }
}

.steps {
    @include adaptiveValue("padding-top", 120, 56);
    @include adaptiveValue("margin-bottom", 120, 56);

    // .steps__container
    &__container {
    }

    // .steps__title
    &__title {
        text-align: center;

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 120, 56);
        }
    }

    // .steps__items
    &__items {
        display: grid;
        @include adaptiveValue("row-gap", 120, 56);
    }

    // .steps__item
    &__item {
    }
}

// faq ====================================================================================================
.faq {
    @include adaptiveValue("padding-top", 120, 56);
    @include adaptiveValue("margin-bottom", 120, 56);

    // .faq__container
    &__container {
    }

    // .faq__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 80, 56);
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    // .faq__spollers
    &__spollers {
    }
}

// solution ====================================================================================================
.image-full {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;

    @media (min-width: $tablet) {
        flex-direction: row;
    }

    [class*="__container"] {
        width: 100%;
        display: flex;
        align-items: center;
    }

    // .image-full__content
    &__content {
        flex: 0 0 100%;
        display: flex;
    }

    // .image-full__body
    &__body {
        @media (min-width: $tablet) {
            width: 35%;
        }
    }

    // .image-full__image
    &__image {
        @media (min-width: $tablet) {
            position: relative;
            flex: 0 0 calc(((100vw - rem(40)) * 0.65) + rem(20));
            transform: translate(-100%, 0);
        }

        @media (min-width: em(1200)) {
            flex: 0 0 calc(50vw - (0.35 - 0.5) * (rem(1200) - rem(40)));
        }
    }
}

.solution {
    // .solution__container
    &__container {
    }

    // .solution__body
    &__body {
        @include adaptiveValue("padding-top", 220, 58, 1280, 992, 1);
        @include adaptiveValue("padding-bottom", 220, 58, 1280, 992, 1);
    }

    // .solution__title
    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 40, 28);
        line-height: math.div(52, 40);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32, 1280, 992, 1);
        }
    }

    // .solution__text
    &__text {
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(30, 20);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 100, 56, 1280, 992, 1);
        }
    }

    // .solution__link
    &__link {
        display: inline-flex;

        .popup-link {
            font-weight: 300;
            @include adaptiveValue("font-size", 40, 30);
            line-height: math.div(52, 40);

            &::before {
                font-size: rem(12);
                margin-left: rem(20);
            }
        }
    }

    // .solution__gallery
    &__gallery {
        display: grid;
        align-items: end;
        max-width: rem(930);
        grid-template-columns: 1fr percent(402, 717);
        @include adaptiveValue("gap", 100, 20);
        gap: rem(100);
        padding: rem(70) 0;
        padding-left: rem(35);

        @media (max-width: $mobile) {
            padding: rem(50) 0;
        }
        @media (max-width: $mobileSmall) {
            padding: rem(35) 0;
        }

        :nth-child(2n) {
            .solution__image-link {
                &::before {
                    @include adaptiveValue("font-size", 20, 10);
                }
            }
        }

        :nth-child(3n) {
            grid-column-start: 1;
            grid-column-end: 3;
            border-radius: rem(40);
            margin-left: percent(288, 895);

            img {
                border-radius: rem(40);
            }

            .solution__image-link {
                &::before {
                    @include adaptiveValue("font-size", 22, 12);
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    // .solution__image
    &__image {
        width: 100%;
        position: relative;
        padding-bottom: percent(250, 402);
        border-radius: rem(20);
        transform: rotate(-16deg);

        &[data-src] {
            cursor: pointer;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(20);
            transition: 3s ease transform 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                img {
                    transition: 3s ease transform 0s;
                    transform: scale(1.1);
                }
            }
        }
    }

    // .solution__image-link {
    &__image-link {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        width: percent(68, 500);
        padding-bottom: percent(68, 500);
        border-radius: 50%;
        background-color: $White;

        &::before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @include adaptiveValue("font-size", 10, 8);
        }
    }
}
